.DS_Store

ChatGPT.xcodeproj/project.xcworkspace/xcuserdata/toukir.xcuserdatad/UserInterfaceState.xcuserstate

ChatGPT.xcodeproj/xcuserdata/toukir.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings


